{% extends 'partials/base.html'%}
{%load static%}
{% block title%}About{% endblock%}
{%block content%}
<style>
  .fa{
    color: white;
    font-size: 10px;
  }
  .author-contact span{
    margin: 5px;
  }
</style>
  <!-- about section -->

  <section class="about_section layout_padding" style="background-color: white; padding-top: 20px;padding-bottom: 20px;">
    <div class="container ">
      <div class="row  p-2">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/me.jpg'%}" alt="" style="border-radius: 100%;">
          </div>
           <div class="author-contact text-center mt-3">
            <span class="badge badge-pill badge-secondary"> <a href="https://api.whatsapp.com/message/BYABDU4RMAJUO1" target="blank">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a></span><span class="badge badge-pill badge-secondary"><a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a></span>
            <span class="badge badge-pill badge-secondary"><a href="https://twitter.com/southeastdev" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a></span><span class="badge badge-pill badge-secondary"><a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                ScholarsJoint 
              </h2>
            </div>
             <p>
              Success is not achieve only by confessing and praying but with hard work, grit and resislent.
            </p>
            <p>
              <b>ScholarsJoint</b>, is an idea of a young Geosciencist and an educationist, who is intrested in the acadmic excellence of young students especially students in developing countries. As an educational community we are interested in bringing out the best in you concerning your acadmics. We have weekly blog posts on various education topics and news and have provided various materials for exam and self development purposes. We also update our elibrary weekly to keep it up-to-date.  
            </p>
             <a href="Tel: +2347025065702" class="mr-2 btn btn-sm">
              contact us
            </a>
          </div>
        </div>
      </div>
  </section>

  <!-- end about section -->
   <!-- start hire us -->
  <section class="about_section layout_padding " style="background-color: white;padding-top: 20px;padding-bottom: 20px;">
    <div class="container p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://media.istockphoto.com/photos/testing-software-picture-id1017296544?b=1&k=20&m=1017296544&s=612x612&w=0&h=y88lCuDnKXuHbCw5hUp-zzz5oywvcsvMcf3Dlqe4qVs=" alt="" class="index-albt" style="border-radius: 10px; width: 100%;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
               Hire Us 
              </h3>
            </div>
            <p>
             We build and manage websites, design landing pages for compaines and businesses. Our graphics design team are top notch. We value communication so much so we keep in touch with our clients during the job process. We do not exceed delivery date as given and we are trust worthy. Hire us today !! 
            </p>
            <a href="Tel:+2347025065702">
              Hire Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--end Hire us -->
 <!-- start hire us -->
  <section class="about_section layout_padding " style="background-color: white; padding-top: 20px;padding-bottom: 20px;">
    <div class="container p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://i.onthe.io/smngoz5l6vcku2ocv.79c7715c.jpg" alt="" class="index-albt" style="border-radius: 10px; width: 100%;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
               Enrol Now
              </h3>
            </div>
            <p>
             Start your tech career today with schoolmata tech team. We offer but phyiscal and online classes for students. Courses both on web development, graphics designing and copy writing. The fees are fair and you are assured of getting the value of your money. We employ outstanding student in every cohorts. Take that bold step today !!!
            </p>
            <a href="Tel:+2347025065702">
              Hire Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--end Hire us -->


  

  {% endblock%}