{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Blog{% endblock%}
{%block content%}
<style >
  .badge{
    margin-left: 20px;
  }
  .badge a{
    color: white;
    padding: 5px;
  }
 /* .card >img{
  
    height: 258px;
  }*/
 /* .card{
    height: 540px;*/
  }
</style>
  <!-- blog section -->

  <section class="blog_section layout_padding" style="background-color: white;">
    <div class="container">
      <div class="heading_container heading_center">
        <h1>
          News Room
        </h1>
        <div>
          <h5 class="text-primary">
            Latest News From SCHOOL, JAMB, ASUU, Post-UTME, WAEC, NECO, NABTEB, Scholarships Opportunities.
          </h5>
          <div class="categories"><strong><span style="color: red;">Categories:</span></strong>
            {%for category in categories%}
            <span class="badge badge-pill badge-secondary"><a href="{%url 'category' category.pk %}" style="color:white;">{{category.title}}</a></span>
            {%endfor%}
          </div>
        </div>
      </div>
     <!--  <div class="row mt-4">
        {%for blog in blogs%}
        <div class=" col-lg-3 col-md-4 col-sm-12 mb-2">
          <div class="card">
            {%if blog.blog_img%}
            <img src="{{blog.blog_img.url}}" class="card-img-top img-fluid" alt="...">
            {%endif%}
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5><hr>
              <p class="card-text">{{blog.body|slice:":100"}}</p>
            </div>
            <div class="card-footer">
              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div><a href="{%url '_blog' blog.slug%}">
                Read More
              </a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div> -->
      <!--  Start callto-action Area -->

      <section class="callto-action-area section-gap mb-5 mt-5 " id="join" >
        <div class="container">
          <div class="row d-flelx justify-content-centelr">
            {%for blog in page_obj%} 
            <div class="menu-content col-lg-6">
              <div class="card mb-3 shadow" style="max-width: 540kpx;" data-aos="fade-right">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {%if blog.blog_img%}
                    <img src="{{blog.blog_img.url}}" class="card-img-top img-fluid" alt="...">
                    {%endif%}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <p class="card-text">{{blog.body|slice:":100"}}</p>
                      <p class="card-text"><small class="text-muted"><a href="{%url '_blog' blog.slug%}">
                Read More
              </a></small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div> 
        </div>  
      </section>
      <!-- End calto-action Area -->
      <!-- paginator -->
          <div class="paginat;ion mt-4">  
            {% if page_obj.has_previous %} 
              <a href="?page=1" class="btn btn-outline-primary mr-3">&laquo; first</a> <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary mr-3">previous</a>
            {% endif %}
              
                {% if page_obj.has_next %} 
                  <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary mr-3">next</a> <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">last &raquo;</a> 
                {% endif %} 
                <div class="mt-3"><span class="current" > Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span></div>
              </div>
          <!-- end paginator -->

    </div>
    </div>
  </section>

  <!-- end blog section -->

  

  {% endblock%}
  