{% extends 'partials/base.html'%}
{%load static%}
{% load social_share %}
{% block title%}Home{% endblock%}
{%block content%}
<style>

  .col-md-4 > img{
    height: 100%;
    width: 100%;
  }
  .no-gutters{
    display: flex;
    justify-content: center;
  
  }
    .share-btn{
    padding: 5px;
    font-size: 20px;
  }

.blink{
  animation: blinker 1s linear infinite;

}
.item-img img{
  width: 95px;
  height: 95px;
}
.item-body span{
  background-color: red;
  color: white;
  border-radius: 40px;
  padding: 4px;
  margin: 5px;
  font-size: 9px;
  font-weight: bold;
}
.item{
  display: flex;
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
  font-size: 12px;
}
@media(max-width: 450px){
  .item{
  display: block;
    }
    .item-img img{
  width: 100%;
  height: 100%;
    }
}

@keyframes blinker{
  50%{
    opacity: 0;
  }

</style>

  <!-- catagory section -->
 <!-- <span class="badge badge-pill badge-warning"><a href="{{tb.file.url}}" style="color: white; text-decoration:none" download><i class="fa fa-cloud-download" aria-hidden="true"></i></a></span> -->
  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div>
        <h2 class="text-center">Buy and Sell Items</h2>
        <p>Buy and sell items online for <strong>FREE!</strong><br></p>
         <p style="color:red">Items in this forum are approved before displayed to potential buyers, but we still will like to warn you to make sure good are in good condition before making payments</p>
         <p><a href="{%url 'advertise' %}" class="btn btn-secondary">Sell Item</a></p>
      </div>
      <div id="spinner"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
        <div class="row " >
          <div class="col-md-7 p-4">
            <div id="items">
              {% for item in page_obj%}
             <div>
                <div class="item  shadow">
                <div class="item-img p-3">
                  {%if item.product_cover_image%}
                  <img src="{{item.product_cover_image.url}}" alt="{{item.prouct_name}} image">
                  {%endif%}
                </div>
                <div class="item-body p-3">
                  <div class="row">
                    <div class="col-md-6"><a href="{% url 'item-detail' item.pk %}"><h6>{{item.product_name|safe}}</h6></a></div>
                    {%if request.user == item.user%}
                    <div class="col-md-6"><a href="{% url 'update-advertise' item.pk %}"><h6>Edit</h6></a></div>
                    {%endif%}
                  </div>
                  <p><small>Posted: {{item.posted_on|timesince}}</small></p>
                  <p>Price: {{item.description|slice:":300" |safe}}</p>
                  <p>Price: #<span>{{item.product_price|safe}}</span></p>
                  <h6>Category: {{item.product_category|safe}}</h6>
                </div>
              </div>
             </div>
            {%endfor%}
            </div>
          </div>
          <div class="col-md-4">
          <div class="row">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header" style="background-color:#BBBDBF"><h6><strong>ScholarsJoint Marketing Services</strong></h6></div>
              <div class="card-body">
               <div class="content">
                  <p class="card-text">
                  We can connect your business to potential buys and sellers. Our marketing services are top notche. Show you products to over our 40k+ user today by clicking the button to contact our marketing team. Earn as you learn...  </p>
                  <p><a href="{%url 'paid-advert'%}" class="btn btn-secondary blink">Advertise</a></p>
               </div>
               <div class="subscribers-online mt-2" style="display: flex; gap:35px; font-size:3px">
                 <div class="subscribers">
                   <h6><strong>40.25k</strong></h6>
                   <h6><strong>Members</strong></h6>
                 </div>
                 <div class="subscribers">
                   <h6><strong>4.7k</strong></h6>
                   <h6><strong>Online</strong></h6>
                 </div>
               </div><hr>
               <div class="footer">
                 <p>created March 12 2022</p>
                 <a href="{%url 'register'%}" class="btn btn-primary btn-md btn-block round" style="border-radius: 9999px;;">Join</a>
               </div>
              </div>
            </div>
            <div class="box mt-2" style="width: 286px;">
              <h4 style="padding: 10px;">Related Posts</h4>
              <div class="detail-box">
                {%for blog in latest%}
                <h5>
                  <a href="{%url '_blog' blog.slug%}">{{blog.title}}</a><hr>
                </h5>
                  {%endfor%}
              </div>
             </div>
          </div>
        </div>
        </div>
         <div class="pagination mt-4"> <span class="step-links"> {% if page_obj.has_previous %} <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a> <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm">previous</a> {% endif %}
        <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>
        {% if page_obj.has_next %} <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm">next</a> <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a> {% endif %} </span> </div>
      </div>
    </div>
  </section>
  <!-- end catagory section -->

 <script>
   
   let items = document.querySelector("#items").style.display="none";
   let spinner = document.querySelector("#spinner").style.display="block";
   $.ajax({
    type:'GET',
    url:"{%url 'buy-and-sell'%}",
    success:function(res){
      setTimeout(()=>{
      console.log("success")
      spinner = document.querySelector("#spinner").innerHTML="";
      items = document.querySelector("#items").style.display="block";
      

      }, 900)
      
    },
    error:function(er){
      console.log("error")
    }
   })
 </script>

 {% endblock%}
 