{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Books category{% endblock%}
{%block content%}
   <style>
      .card >img{
        /*width: 285px;*/
        height: 260px;
        padding: 5px;
        border-radius: 10px;
      }
      .heading_center{
        margin: 0 auto;
      }
      .heading_center >h2{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 70%;

      }
      @media (max-width: 500px){
        .heading_center >h2{
          width: 100%;
        }
      }
      .blink{
  animation: blinker 1s linear infinite;

}

@keyframes blinker{
  50%{
    opacity: 0;
  }
    </style>


  <!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center ">
          <h2 id="demo">
            
          </h2>
        </div><hr>
        <div class="heading_container heading_center mt-3 mb-3 ">
          <h4>
            Categories
          </h4>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" style="width: 18rem;">
              <img src="{%static 'images/geo2.jpg'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title"> Textbooks</h5>
                <p class="card-text">Download text books for your department and institution.Our team has worked hard to source for these materials and they have provided the for FREE!</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" style="width: 18rem;">
              <img src="{%static 'images/pq.jpg'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Past Questions</h5>
                <p class="card-text">Prepare for your exams using our legit past questions. We have gathered past questions from your institution and department. Download for FREE!</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" style="width: 18rem; z-index: 9999999px;">
              <img src="{%static 'images/ho.png'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Hand Outs</h5>
                <p class="card-text">Our book store also contains handout for department.
                Download both first and second semester handouts for your department from our books store.</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
           <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" style="width: 18rem; z-index: 9999999px;">
              <img src="{%static 'images/ho.png'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Journals</h5>
                <p class="card-text">Journals are reasearch projected submitted and publish a standard editors.Journals are import for term paper writings, litrature reviews for projects etc. </p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
           <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" style="width: 18rem; z-index: 9999999px;">
              <img src="{%static 'images/ho.png'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Hand Outs</h5>
                <p class="card-text">Our book store also contains handout for department.
                Download both first and second semester handouts for your department from our books store.</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script >
  var quoteArray = ["Forscholars elibrary"];
  var textPosition = 0; 
  var speed = 100;
 typewriter = () => {
  document.querySelector("#demo").innerHTML = quoteArray[0].substring(0, textPosition) + '<span class="blink">\u25AE</span>';

  if(textPosition++ != quoteArray[0].length)
    setTimeout(typewriter, speed);
  }

  window.addEventListener("load", typewriter)

</script>

  <!-- end catagory section -->

  

 {% endblock%}
 <as