{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Contact{% endblock%}
{%block content%}

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 shadow p-4" style="margin: 0 auto;">
          <div class="heading_container ">
            <h2 class="">
              Contact Us
            </h2>
          </div>
          <form method="post">
            {%csrf_token%}
            <div>
              <input type="text" placeholder="Name"  name="name" required>
            </div>
            <div>
              <input type="email" placeholder="Email"  name="email" required>
            </div>
            <div>
              <input type="text" placeholder="Phone Number" name="phone_no" required>
            </div>
            <div>
              <input type="text" class="message-box" placeholder="message" name="message" required>
            </div>
            <div class="btn-box">
              <button type="submit">
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

 

 {% endblock%}