{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Departments{% endblock%}
{%block content%}
<style>
  .filter {
    text-align: center;
    padding: 5px;
  }
  .filter select{
    background-color: grey;
    color: black;
    border-radius: 30px;
    padding: 4px;
  }
  .filter select > option{
    border-radius: 30px;
     color: black;
  }
@media (max-width: 2560px){
  .form-group > select {
    width: 40%;
    margin: 0 auto;
     color: black;
  }
}
@media (max-width: 700px){
  .form-group > select {
    width: 100%;
    margin: 0 auto;
  }
}
.blink{
  animation: blinker 1s linear infinite;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}
</style>

  <!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2 id="demo">
            
          </h2>
        </div>
        <div class="filter">
          <form action="{%url 'filter-result'%}">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Filter by:</label>
            <select class="form-control" id="exampleFormControlSelect1" name="q">
              <option value="All">All</option>
              {%for i in school%}
              <option value="{{i.school_name}}" >{{i.school_name|safe}}</option>
              {%endfor%}
            </select>
            <input type="submit" value="Go" class="btn btn-sm btn-secondary m-2">
          </form>
        </div>
        <div class="heading_container heading_center">
          <p style="color:red;">
            Select your department to see different resources we have gathered for you. or use the search bar to search for books. <!-- If still your department doesn't show up, it either your department is not in our database. To add your department, send us to mail using our contact infomation. You could be one lof our resource personals....Happy learning. -->
          </p>
        </div>
        {% if departments%}
        <div class="row">
          {%for dept in  departments%}
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                  {%if dept.cover_img%}
                 <img src="{{dept.cover_img.url}}" alt="{{dept.title}}">
                 {%endif%}
              </div>
              <div class="detail-box">
                <h5>
                  {{dept.title|safe}} 
                </h5>
              </div>
              <div style="margin-top: 5px;"><h6><strong>school:</strong> {{dept.school|safe}}</h6></div
              >
              <div style="margin-top: 5px;"><h6><strong>Faculty:</strong> {{dept.faculty|safe}}</h6></div
              >
              <div style="margin-top: 5px;"><span class="badge badge-pill badge-primary">Text <a href="{%url 'text-books' dept.pk%}"style="color: white; text-decoration: none;">Books</a></span><span class="badge badge-pill badge-info"><a href="{%url 'past-questions' dept.pk%}"style="color: white; text-decoration: none;">Past Questions</a></span><span class="badge badge-pill badge-secondary"><a href="{%url 'hand-outs' dept.pk%}"style="color: white; text-decoration: none;">Hand Outs</a></span></div>
            </div>
          </div>
          {%empty%}
          <div>Please contact admin</div>
          {%endfor%}
        </div>
        {%endif%}
        <!-- query results -->
        {%if filter_result%}
        <h3 >Filter results {{filter_result|length}}</h3>
        <div class="row">
          {%for dept in  filter_result%}
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                  {%if dept.cover_img%}
                 <img src="{{dept.cover_img.url}}" alt="{{dept.title}}">
                 {%endif%}
              </div>
              <div class="detail-box">
                <h5>
                  {{dept.title|safe}} 
                </h5>
              </div>
              <div style="margin-top: 5px;"><h6><strong>Faculty:</strong> {{dept.faculty}}</h6></div
              >
              <div style="margin-top: 5px;"><span class="badge badge-pill badge-primary">Text <a href="{%url 'text-books' dept.pk%}"style="color: white; text-decoration: none;">Books</a></span><span class="badge badge-pill badge-info"><a href="{%url 'past-questions' dept.pk%}"style="color: white; text-decoration: none;">Past Questions</a></span><span class="badge badge-pill badge-secondary"><a href="{%url 'hand-outs' dept.pk%}"style="color: white; text-decoration: none;">Hand Outs</a></span></div>
            </div>
          </div>
          {%empty%}
          <div>Please contact admin</div>
          {%endfor%}
        </div>
        {%endif%}
       
        <!-- endquery -->
    </div>
  </section>
<script >
  var quoteArray = ["ScholarsJoint elibrary"];
  var textPosition = 0; 
  var speed = 100;
  for(i in quoteArray){
    console.log(i)
     typewriter = () => {
      document.querySelector("#demo").innerHTML = quoteArray[i].substring(0, textPosition) + '<span class="blink">\u25AE</span>';

      if(textPosition++ != quoteArray[0].length)
        setTimeout(typewriter, speed);
      }

      window.addEventListener("load", typewriter)
  }
</script>
  <!-- end catagory section -->

 

 {% endblock%}
 