{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Home{% endblock%}
{%block content%}
    <!-- slider section -->
    <style>
      .card >img{
        /*width: 285px;*/
        height: 260px;
        padding: 5px;
        border-radius: 10px;
      }
      .heading_center{
        margin: 0 auto;
      }
      .heading_center >h2{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 70%;

      }
      @media (max-width: 500px){
        .heading_center >h2{
          width: 100%;
        }
      }
      .col-md-4 > .subscribers{
        margin-bottom: 40px;

      }
      html{
        overflow-x: hidden;
      }
      .layout_padding {
    padding: 34px 0;
    }
    </style>
  <div id="slider_section">
    <section class="slider_section " style="background-image:linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url({%static 'images/bg.jpg'%})">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      4Scholars Community For
                    </h5>
                    <h1>
                      For Academic Excellence
                    </h1>
                    <p>
                        Success is not achieve only by confessing and praying but with hard work, grit and resislent.<i>Christian Glory</i>
                    </p>
                    <a href="{%url 'about'%}">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      4Scholars Community For
                    </h5>
                    <h1>
                      Self Development and Potentials
                    </h1>
                    <p>
                      Success is not achieve only by confessing and praying but with hard work, grit and resislent.<i>Christian Glory</i>
                    </p>
                    <a href="{%url 'about'%}">
                      Read More
                    </a>
                  </div>
                </div>
                <<!-- div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png'%}" alt="">
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h5>
                      4Scholars Community For
                    </h5>
                    <h1>
                      Improving Your Networks 
                    </h1>
                    <p>
                      Success is not achieve only by confessing and praying but with hard work, grit and resislent.<i>Christian Glory</i>
                    </p>
                    <a href="">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn_box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- catagory section -->

  <section class="catagory_section layout_padding" data-aos="fade-right">
    <div class="catagory_container">
      <div class="container shadow p-3 ">
        <div class="heading_container heading_center ">
          <h2>
            We have provide a stress-free studies for you by sourcing different materials from your institution for you. 
          </h2>
          <p>
            Free books download, Weekly store Updates, tested and trusted.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" >
              <img src="{%static 'images/geo2.jpg'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title"> Textbooks</h5>
                <p class="card-text">Download text books for your department and institution.Our team has worked hard to source for these materials and they have provided the for FREE!</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm" >
              <img src="{%static 'images/pq.jpg'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Past Questions</h5>
                <p class="card-text">Prepare for your exams using our legit past questions. We have gathered past questions from your institution and department. Download for FREE!</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3 " >
            <div class="card shadow-sm">
              <img src="{%static 'images/ho.png'%}" class="card-img-top" alt="Text book png">
              <div class="card-body">
                <h5 class="card-title">Hand Outs</h5>
                <p class="card-text">Our book store also contains handout for department.
                Download both first and second semester handouts for your department from our books store.</p>
              </div>
              <div class="card-body">
                <a href="{% url 'departments'%}" class="card-link">Learn More</a>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->

  <!-- whyus section -->

  <section class="about_section layout_padding " data-aos="fade-left" style="background-color: white;">
    <div class="container shadow p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{%static 'images/geo3.jpg'%}" alt="" class="index-abt">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
                Why Our Books??
              </h3>
            </div>
            <p>
              As an educational community, our teams have devoted time to selecting and providing relvant and standard materials for students with weekly update our elibrary. We have made available Textbook, Journals, Past Questions and Hand Outs for different fields and levels  any department, institution for all our memebers.
            </p>
            <a href="{%url 'category'%}">
              See Books
            </a>
          </div>
          <div class="row mt-5 text-center">
        <div class="col-md-4">
          <div class="subscribers">
             <h2><strong>40.25k+</strong></h2>
             <h2><strong>Members</strong></h2>
           </div>
        </div>
        <div class="col-md-4">
          <div class="subscribers">
             <h2><strong>4.7k+</strong></h2>
             <h2><strong>Online</strong></h2>
           </div>
        </div>
        <div class="col-md-4">
          
        </div>
  
      </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

    <!--  Start How to apply Area -->

      <section class="callto-action-area section-gap " id="join" style="" data-aos="flip-up">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9 p-3 shadow">
              <div class="title text-center">
                <h3 class="mb-10 text-whitle">How to Make Yourself At Home</h3>
                <p class="text-whitel"> </p>
                <div class="row">
                  <div class="col-lg-4 col-md-6" >
                    <div class="card bg-light mb-3 shadow-sm" style="max-wildth: 18rem; height: 350plx; margin: 0;">
                      <div class="card-header"><h4>1</h4></div>
                      <div class="card-body ">
                        <h5 class="card-title">Register</h5>
                        <p class="card-text"><ol style="text-align: left;">
                          <li> Get a valid Mail</li>
                          <li> Signup</li>
                          <li> Open Mail and activate account</li>
                        </ol>
                        
                      </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="card bg-light mb-3 shadow-sm" style="max-wildth: 18rem; 18rem; height: 350pxl; margin: 0;">
                      <div class="card-header"><h4>2</h4></div>
                      <div class="card-body ">
                        <h5 class="card-title">Read Posts</h5>
                        <p class="card-text"><ol style="text-align: left;">
                          <li> Click on any Post</li>
                          <li>Comment</li>
                          <li>Share post to friends and family</li>
                        </ol></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 ">
                    <div class="card bg-light mb-3 shadow-sm" style="max-widlth: 18rem; 18rem; height: 350plx; margin: 0;">
                      <div class="card-header"><h4>3</h4></div>
                      <div class="card-body ">
                        <h5 class="card-title">Maket and Adverts</h5>
                        <p class="card-text"><ol style="text-align: left;">
                          <li> Buy items</li>
                          <li> Upload your items</li>
                          <li> Sell to potential customers here</li>
                        </ol>
                      </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>  
        </div>  
      </section>
      <!-- End how to apply Area -->

  <!-- client section -->

  <section class="client_section layout_padding " data-aos="zoom-in-up">
    <div class="container bg-light shadow p-3">
      <div class="heading_container heading_center">
        <h2>
          Meet the Team
        </h2>
        <hr>
      </div>
      <div class="row p-2">
        <div class="col-md-6 mx-auto">
          <div class="client_container ">
            <div class="detail-box">
              <p>
                Nwafor Glory is the founder of  4Scholars community. He is Geophysicist, a web developer, graphics designer and a writer. He is passionate about education and devloping others.
              </p>
              <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="{%static 'images/me.jpg'%}" alt="">
              </div>
              <div class="client_name">
                <h5>
                  Nwafor Glory
                </h5>
                <h6>
                  Founder
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="client_container ">
            <div class="detail-box">
              <p>
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
              </p>
              <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="{%static 'images/c2.jpg'%}" alt="">
              </div>
              <div class="client_name">
                <h5>
                  Anna Crowe
                </h5>
                <h6>
                  Student
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

   <!-- whyus section -->

  <section class="about_section layout_padding " data-aos="fade-left" style="background-color: white;">
    <div class="container shadow p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://media.istockphoto.com/photos/testing-software-picture-id1017296544?b=1&k=20&m=1017296544&s=612x612&w=0&h=y88lCuDnKXuHbCw5hUp-zzz5oywvcsvMcf3Dlqe4qVs=" alt="" class="index-albt" style="border-radius: 10px; width: 100%;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
               Hire Us 
              </h3>
            </div>
            <p>
             We build and manage websites, design landing pages for compaines and businesses. Our graphics design team are top notch. We value communication so much so we keep in touch with our clients during the job process. We do not exceed delivery date as given and we are trust worthy. Hire us today !! 
            </p>
            <a href="Tel:+2347025065702">
              Hire Us
            </a>
          </div>
       <!--    <div class="row mt-5 text-center">
        <div class="col-md-4">
          <div class="subscribers">
             <h2><strong>40.25k+</strong></h2>
             <h2><strong>Members</strong></h2>
           </div>
        </div>
        <div class="col-md-4">
          <div class="subscribers">
             <h2><strong>4.7k+</strong></h2>
             <h2><strong>Online</strong></h2>
           </div>
        </div>
        <div class="col-md-4">
          
        </div>
  
      </div> -->
        </div>
      </div>
    </div>
  </section>



  <!-- blog section -->

  <section class="blog_section layout_padding" style="background-color: white;" data-aos="zoom-in-left">
    <div class="container">
      <div class="heading_container heading_center">
        <h1>
          News Room
        </h1>
        <div>
          <h5 class="text-primary">
            Latest News From SCHOOL, JAMB, ASUU, Post-UTME, WAEC, NECO, NABTEB, Scholarships Opportunities.
          </h5>
          <div class="categories"><strong><span style="color: red;">Categories:</span></strong>
            {%for category in categories%}
            <span class="badge badge-pill badge-secondary"><a href="{%url 'category' category.pk %}" style="color:white;">{{category.title}}</a></span>
            {%endfor%}
          </div>
      </div>
    </div>
  </section>


  <!-- end blog section -->
<!--  Start callto-action Area -->

      <section class="callto-action-area section-gap mb-5 mt-5 " id="join" data-aos="zoom-out-up">
        <div class="container">
          <div class="row d-flelx justify-content-centelr">
            {%for blog in blogs%}
            <div class="menu-content col-lg-6">
              <div class="card mb-3 shadow-sm" style="max-width: 540kpx;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {%if blog.blog_img%}
                    <img src="{{blog.blog_img.url}}" class="card-img-top img-fluid" alt="...">
                    {%endif%}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title}}</h5>
                      <p class="card-text">{{blog.body|slice:":100"}}</p>
                      <p class="card-text"><small class="text-muted"><a href="{%url '_blog' blog.slug%}">
                Read More
              </a></small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div> 
           <div class="text-center mt-3"><a class="btn btn-outline-primary mr-3" href="{%url 'blog'%}">See All</a></div> 
        </div>  
      </section>
      <!-- End calto-action Area -->

<!--  Start callto-action Area -->

      <section class="callto-action-area section-gap mb-5 mt-5  p-3" id="join" data-aos="fade-up"
     data-aos-anchor-placement="center-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9 shadow p-3 bg-light">
              <div class="title text-center">
                <h1 class="mb-10 ">Join Us Now !</h1>
                <p class="">Would you like to get in touch with our team either for job related matters or any technical help?? We have various platforms. Use any of the Link below to get on board with our team !!</p>
                <a class="btn btn-outline-primary mr-3" href="{%url 'register'%}">Register</a>
                
              </div>
            </div>
          </div>  
        </div>  
      </section>
      <!-- End calto-action Area -->
<!--  Start callto-action Area -->

      <section class="callto-action-area section-gap mb-5 mt-5 " id="join" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9 shadow p-3">
              <div class="title text-center">
                <h1 class="mb-10 ">Get In Touch With Us</h1>
                <p class="">Would you like to get in touch with our team either for school related matters or any technical help?? Or will you like to hire us for web development job, management and  graphics design??
                We have various platforms set up alreay for you.. Use any of the Link below to get on board with our team !!</p>
                <a class="btn btn-outline-primary mr-3" href="{%url 'contact'%}">Contact Us</a>
                <a class="btn btn-outline-primary mr-3" href="Tel: +2347025065702">Hire Us</a>
              </div>
            </div>
          </div>  
        </div>  
      </section>
      <!-- End calto-action Area -->
  

 

 {%endblock%}
 