{%extends 'partials/base.html'%}
{%load static%}
{%block title%}Privacy and Policy{%endblock%}
{%block content%}


			
			<!-- End banner Area -->	

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap mt-3">
				<div class="container">
					
					<div class="text-center mb-3">
						<h3>Privacy And Policy</h3>
					</div>
					<div class="intro">
						<p>
							Understanding studentmatters Policies, which includes studentmatters rules and regulations, helps to keep the studentmatters platform free from guile, bigotry, suicidal or any harmful words that might lead to violence, which is strictly against studentmatters Policy.
						</p>
					</div>
					

					<section class="answer shadow-sm p-4 mb-3">
						<div class="qus">
							<h6 class="mb-5">Privacy Policy:</h6>
							<p> <i>If your account or page were suspended by studentmatters which indicates that it violated studentmatters Policy, you are advised to either Appeal against the suspension by sending your appeal request to hello@studentmatters.com or call studentmatters hotline +2349031317411, explaining why your account or page should not be suspended or was wrongly suspended or…
							Wait for the account suspension to elapse its suspension limits, which can be minutes, hours, or days depending on the violation.
							</i></p>
							<p> <i>All studentmatters users’ data is safe.</i></p>
							<p> <i>All studentmatters users' data is private against any third party.</i></p>
							<p> <i>studentmatters will send you an email for consent approval if there is any need for your data to be used by any third party.</i></p>
							<p> <i>studentmatters will not sell your data to any third party.</i></p>
							<p> <i>studentmatters will not give any third party the infringement to get hold of your data.</i></p>
							<p> <i>The studentmatters platform is well secured so that no third party can have access to any data of studentmatters users.</i></p>
							<p><i>studentmatters is committed to giving studentmatters users the best security and awareness of data protection, and thereby will alert the user if there is an illicit fraudulent attempt on any of their accounts.</i></p>
							
						</div>
						<div>
							<p>
								Contact Us:
Is there any need to reach out to studentmatters immediately for assistance or guidance 
Call us at +2347025065702 or send us an email at hello@studentmatters.com for a fast and immediate response from our team.
							</p>
						</div>
					</section>
				</div>	
			</section>
			<!-- End contact-page Area -->
			
	
			{%endblock%}










