{% extends 'partials/base.html'%}
{%load static%}
{% load social_share %}
{%load crispy_forms_tags%}
{% block title%}Share Books{% endblock%}
{%block content%}

  <!-- blog section -->
<style>
  .blog_section {
     background-color: #fffff !important; 
}
.advert{
  margin: 0 auto !important;
  padding: 30px;
}

</style>
  <section class=" layout_padding">
    <div class="container form">
      <h2 class="text-center mb-5">Upload Books</h2>
     <div class="row">
       <div class="col-sm-12 col-lg-6 advert shadow-sm">
        <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">
          Upload
        </button>
      </form>
       </div>
     </div>
     </div>
    </div>
  </section>

  <!-- end blog section -->

  

  {% endblock%}
  

