{% extends 'partials/base.html'%}
{%load static%}
{% block title%}Books{% endblock%}
{%block content%}
<style >
  .card{
    text-align: center;
    padding: 10px;
    height: 160px;
    margin-bottom: 5px;
  }
</style>


  <!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Books Categories
          </h2>
          <p>
            Click to see the document before downloading. 
          </p>
          {%if books%}
          <h3>Search results {{books|length}}</h3>
          {%endif%}
        </div>
        <div class="row">
          {%if page == 'pq'%}
          {%for pq in dept_detail%}
          <div class="col-sm-6 col-md-3 col-md-4 ">
           <div class="card shadow-sm">
             <!--  <div class="img-box">
                {%if pq.cover_img%}
                <a href="{{pq.file}}"><img src="{{pq.cover_img.url}}" alt=""></a>
                {%endif%}
              </div> -->
              <div class="detail-box">
                <h5>
                  <a href="{%url 'books' pq.pk%}">{{pq.title|safe}}</a>
                </h5>
               <!--  <p>
                  {{pq.about_book}}
                </p> -->
                <div><span class="badge badge-pill badge-succes">course Code: {{pq.course_code|slice:":20"|safe}}..</span></div>
                 <div><span class="badge badge-pill badge-succes">Semester: {{pq.semester|safe}}</span></div>
                 <div><span class="badge badge-pill badge-succes">Year: {{pq.year|safe}}</span></div>
                 <span class="badge badge-pill badge-info"><a href="{{pq.file}}" style="color: white; text-decoration:none" download><i class="fa fa-cloud-download" aria-hidden="true"></i></a></span>
                 <!-- <div style="margin-top: 5px;"></div> -->
              </div>
            </div>
          </div>
          {%empty%}
          <div class="alert alert-primary" role="alert" style="background-color: white; border:1px solid #b8daff;">
            Opps!!! Empty contact admin!! <a href="{%url 'contact'%}">Here</a>
          </div>
          {%endfor%}

          {%elif page == 'tb'%}
          {%for tb in dept_detail%}
          <div class="col-sm-6 col-lg-3 col-md-4 ">
            <div class="card shadow-sm">
             <!--  <div class="img-box">
                {% if tb.cover_img%}
                <a href="{%url 'books' tb.slug%}"><img src="{{tb.cover_img.url}}" alt=""class="img-fluid"></a>
                {%endif%}
              </div> -->
              <div class="detail-box">
                <h5>
                  <a href="{%url 'books' tb.pk%}">{{tb.title|safe}}</a>
                </h5>
               <!--  <p>
                  {{pq.about_book}}
                </p> -->
                 <div><span class="badge badge-pill badge-primary">Semester: {{tb.semester|safe}}</span></div>
                 <div><span class="badge badge-pill badge-primary">Year: {{tb.year|safe}}</span></div>
                 <span class="badge badge-pill badge-warning"><a href="{{tb.file}}" style="color: white; text-decoration:none" download><i class="fa fa-cloud-download" aria-hidden="true"></i></a></span>
                 <!-- <div style="margin-top: 5px;"></div> -->
              </div>
            </div>
          </div>
          {%empty%}
          <div class="alert alert-primary" role="alert" style="background-color: white; border:1px solid #b8daff;">
            Opps!!! Empty contact admin!! <a href="{%url 'contact'%}">Here</a>
          </div>
          {%endfor%}
          {%elif page == 'ho'%}
          {%for ho in dept_detail%}
           <div class="col-sm-6 col-lg-3 col-md-4 ">
            <div class="card shadow-sm">
             <!--  <div class="img-box">
                {% if ho.cover_img %}
                <a href="{{ho.file}}"><img src="{{ho.cover_img.url}}" alt=""></a>
                {%endif%}
              </div> -->
              <div class="detail-box">
                <h5>
                  <a href="{%url 'books' ho.pk%}">{{ho.title|safe}}</a>
                </h5>
               <!--  <p>
                  {{pq.about_book}}
                </p> -->
                 <div><span class="badge badge-pill badge-primary">Semester: {{ho.semester|safe}}</span></div>
                 <div><span class="badge badge-pill badge-primary">Year: {{ho.year|safe}}</span></div>
                 <div class="spinner-border " role="status" style="display: none;">
                  <span class="sr-only"></span>
                </div>
                <span class="badge badge-pill badge-warning "><a href="{{ho.file}}" style="color: white; text-decoration:none;" download class="download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>

                 <!-- <div style="margin-top: 5px;"></div> -->
              </div>
            </div>
          </div>
          {%empty%}
          <div class="alert alert-primary " role="alert" style="background-color: white; border:1px solid #b8daff;">
            Opps!!! Empty contact admin!! <a href="{%url 'contact'%}">Here</a>
          </div>
          {%endfor%}
          {%elif books%}
          {%for ho in books%}
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                {% if ho.cover_img %}
                <a href="{{pq.file}}"><img src="{{ho.cover_img.url}}" alt=""></a>
                {%endif%}
              </div>
              <div class="detail-box">
                <h5>
                  {{ho.title|safe}}
                </h5>
               <!--  <p>
                  {{pq.about_book}}
                </p> -->
                 <div><span class="badge badge-pill badge-primary">Semester: {{ho.semester|safe}}</span></div>
                 <div><span class="badge badge-pill badge-primary">Year: {{ho.year|safe}}</span></div>
                 <div class="spinner-border " role="status" style="display: none;">
                  <span class="sr-only"></span>
                </div>
                <span class="badge badge-pill badge-warning "><a href="{{ho.file}}" style="color: white; text-decoration:none;" download class="download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>

                 <!-- <div style="margin-top: 5px;"></div> -->
              </div>
            </div>
          </div>
          {%empty%}
          <div class="alert alert-primary " role="alert" style="background-color: white; border:1px solid #b8daff;">
            Opps!!! No result for search!!! <a href="{%url 'contact'%}">Here</a>
          </div>
          {%endfor%}
          {%endif%}
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->

  
<script></script>
 {% endblock%}
 