{%extends 'partials/base.html'%}
{%load static%}
{%block content%}



			
				
			<!-- Start service Area -->
			<section class="service-area section-gap mt-3" id="service">
				<div class="container">
					<div class="alert alert-success" role="alert">
					  <h4 class="alert-heading">Confirm Successful!</h4>
					  <a href="{%url 'login'%}" class="btn btn-default">Login</a>
					  <hr>
					  <p class="mb-0">website Team</p>
					</div>
				</div>	
			</section>
			<!-- End service Area -->				
		
{%endblock%}
