{%extends 'partials/base.html'%}
{%load static%}
{%block content%}	
				
			<!-- Start service Area -->
			<section class="service-area section-gap mt-4" id="service">
				<div class="container">
					<div class="alert alert-success" role="alert">
					  <h4 class="alert-heading mb-2">Sent!</h4>
					  <p>Mail Sent!!.. Please confirm your email address to complete the registration. Thank you </p>
					  <hr>
					  <p class="mb-0">Website Team</p>
					</div>
				</div>	
			</section>
			<!-- End service Area -->				
		
{%endblock%}
