{% extends 'partials/base.html'%}
{%load static%}
{% load social_share %}
{%load crispy_forms_tags%}
{% block title%}Blog{% endblock%}
{%block content%}



<div class="register">
    <!-- Sign-in --> 
   <div class="register_bg shadow reg-alone ">
    <h5 class="text-center">Forscholars Password Reset</h5>
        <div class="alert alert-success" role="alert">
        <small><strong>Sent!! </strong>We have emailed you instruction for resetting your password</small>
        </div>
      <div class="logo"><h6 class="text-right" style="font-size: 11px;">4Scholars</h6></div>
   </div>

</div>
  

  {% endblock%}
  

