{% extends 'partials/base.html'%}
{%load static%}
{% load social_share %}
{%load crispy_forms_tags%}
{% block title%}Blog{% endblock%}
{%block content%}

<div class="register">
    <!-- Sign-in --> 
   <div class="register_bg shadow reg-alone ">
    <h5 class="text-center">Forscholars Password Reset</h5>
    <p>Step 1:  Enter your email addres <i class="fa fa-smile-o" aria-hidden="true"></i><i class="fa fa-smile-o" aria-hidden="true"></i><i class="fa fa-smile-o" aria-hidden="true"></i><i class="fa fa-smile-o" aria-hidden="true"></i></p>
      <form method="post">
        {% csrf_token%}
        {{ form|crispy }}
        <input type="submit" value="Send confirmation" class="btn btn-outline-primary">
      </form>
      <div class="logo"><h6 class="text-right" style="font-size: 11px;">4Scholars</h6></div>
   </div>
</div>

  

  {% endblock%}
  

